<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF_tray">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.774930516349414 -1.59041279354193 -0.0147442021379585"
        rpy="0 0 0" />
      <mass
        value="8.34945177420374" />
      <inertia
        ixx="0.25108535292824"
        ixy="0.000336731615498261"
        ixz="-5.31792297750167E-19"
        iyy="0.341858780370816"
        iyz="1.43814411420964E-17"
        izz="0.592387503180776" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_tray/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_tray/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Tray_left">
    <inertial>
      <origin
        xyz="0.00108791408271713 0 -0.010056502763782"
        rpy="0 0 0" />
      <mass
        value="0.693053108549229" />
      <inertia
        ixx="0.00141018784716623"
        ixy="5.54909442762192E-19"
        ixz="5.61226469623594E-06"
        iyy="0.00334153571866475"
        iyz="2.40543873922961E-20"
        izz="0.00467110321129202" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_tray/meshes/Tray_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_tray/meshes/Tray_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left_Tray_joint"
    type="fixed">
    <origin
      xyz="0.5492535809654 -1.65000981549943 -0.00474420213795846"
      rpy="3.14159265358979 0 -1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="Tray_left" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Front_tray">
    <inertial>
      <origin
        xyz="0.00108791408271702 0 0.010056502763782"
        rpy="0 0 0" />
      <mass
        value="0.693053108549229" />
      <inertia
        ixx="0.00141018784716623"
        ixy="-2.0212238527661E-18"
        ixz="-5.61226469623612E-06"
        iyy="0.00334153571866475"
        iyz="-9.50115083637924E-21"
        izz="0.00467110321129202" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_tray/meshes/Front_tray.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_tray/meshes/Front_tray.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Front_tray_joint"
    type="fixed">
    <origin
      xyz="0.7742535809654 -1.39500981549943 -0.00474420213795848"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Front_tray" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>